<div class="jumbotron text-center">
	<h1>
		List of tasks
	</h1>
	<a href="/task/create" class="btn btn-lg btn-primary">
		Add Task
	</a>
</div>

<% if (success.length > 0) { %>
	<div class="alert alert-success">
		<%= success %>
	</div>
<% } %>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>Task</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% for (var task of tasks) {%>
			<tr>
				<td><%= task.name%></td>
				<td><%= task.detail%></td>
				<td>
					<a href="/task/<%= task.slug%>" class="btn btn-sm btn-primary">
						View
					</a>
					<a href="/task/<%= task.slug%>/edit" class="btn btn-sm btn-primary">
						Edit
					</a>
					<a href="/task/<%= task.slug%>/delete" class="btn btn-sm btn-danger data">
						Delete
					</a>
				
				
				</td>
			</tr>
		<% } %>
	</tbody>
</table>

